
{% macro render_menu(menulinks, path) %}
{{ path }}
<ul class="menu">
{% for term, url in menulinks.items() %}
	<li class="menu{% if url == path %} active{% endif %}">
		<a href="{{url}}">{{term}}</a>
	</li>
{% endfor %}
</ul>
{% endmacro %}